*{
	margin:0;
	padding:0;
}
.contenido{
	background: #F11D1D;  
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial;
	font-size: 1em;
	flex-wrap: wrap;
}
.caja{
	background-color: #aaa;
	padding: 60px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px red;
	color:#0f0c2;
}
.caja input{
	font-size: 1em;
	background-color: rgba(255,255,255,0);
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.8);
	margin-left: 40px;
	font-family: sans-serif;
}
.caja h1{
	margin-bottom: 20px;
}
.caja #Boton{
	border-radius: 20px;
	background-color: #122;
	color: white;
	padding: 10px 20px;
	margin-left: 300px;
}